@model Presentacion.Models.PersonaViewModel
<div style="padding:20px;"></div>
@using (Html.BeginForm()) {
    <fieldset>
        <legend>Usuarios</legend>
        <br />
        @Html.ActionLink("Crear un nuevo usuario", "Add", "Persona")
        <br />
        <br />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Ci)
                    </th>

                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>

                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Apellido)
                    </th>
                    <th scope="col">
                        Opciones
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.LstPersona) {
                    <tr>
                        <td>
                            @Html.DisplayFor(item1 => item.Ci)
                        </td>
                        <td>
                            @Html.DisplayFor(item1 => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(item1 => item.Apellido)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "edit", "Persona", new { id = item.Id })
                            @Html.ActionLink("Eliminar", "delete", "Persona", new { id = item.Id }, new { onclick = "return confirm('Are you sure you want to delete?')" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </fieldset>
}

